.game .paginationPosition{
    position: relative;
    width:100%;
    height:50px;
}
.game .pagination{
    position: absolute;
    right:0;
    top:20px;
}
/*表格中图片*/
.game .ant-spin-container img{
    width:50px;
    height:50px;
}
/*nav-modal*/
.game .nav-modal{
    position: absolute;
    right:0;
}
.game .ant-row .ant-col-6{
    height:50px;
    line-height: 50px;
}
.game .ant-row .ant-col-6 button{
    width:100%;
}
.ant-table-pagination.ant-pagination{
    display: none;
}
.game .ant-pagination {
    position: absolute;
    right:0;
    margin-top: 10px;
}