/*导航栏*/
.Nav{
    height:50px;
    line-height: 50px;
    position: relative;
}
.Nav ul{
    margin:0;
    padding:0;
}
.Nav li{
    float: left;
    width: 25%;
    color:#fff;
    cursor: pointer;
    background-color: blue;
    list-style: none;
}
.Nav li.active{
    background-color: red;
}
